CREATE DATABASE DEVAPP;

CREATE USER developer WITH LOGIN PASSWORD '<PASSWORD>';
ALTER DATABASE DEVAPP OWNER TO developer;
GRANT ALL PRIVILEGES ON DATABASE DEVAPP TO developer;

CREATE SCHEMA DEVAPP;

CREATE TABLE DEVAPP.departments (
DEPT SMALLINT,
DEPT_NAME varchar(250)
);
