CREATE DATABASE DEVAPP;
CREATE USER developer WITH LOGIN PASSWORD '<PASSWORD>';
GRANT CREATE, DROP, USAGE, CREATE ON SCHEMA public to developer;
GRANT INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD, ALTER on all tables in schema public to developer;

CREATE TABLE DEVAPP.departments (
DEPT SMALLINT,
DEPT_NAME varchar(250)
);
