CREATE DATABASE DEVAPP;
CREATE USER developer WITH LOGIN PASSWORD '<PASSWORD>';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD on all tables in schema public to developer;

CREATE TABLE DEVAPP.departments (
DEPT SMALLINT,
DEPT_NAME varchar(250)
);
