CREATE DATABASE DEVAPP;
CREATE USER 'developer'@'localhost' IDENTIFIED BY '<PASSWORD>';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD on *.* TO 'developer'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;

CREATE TABLE DEVAPP.departments (
	DEPT SMALLINT NULL,
	DEPT_NAME varchar(250) NULL
);